In [1]:
import tweepy
import shelve
import pandas as pd

In [3]:
filename='tweet_data.out'
my_shelf=shelve.open(filename)
globals()['tweets']=my_shelf['public_tweets']
len(tweets)

tweet_created=[]
for i in range(0, len(tweets)):
    tweet_created.append(tweets[i]._json['created_at'])

tweet_id=[]
for i in range(0, len(tweets)):
    tweet_id.append(tweets[i]._json['id'])

data=pd.DataFrame()
data['created_at']=tweet_created
data['id']=tweet_id
data

                        created_at                   id
0   Mon Oct 19 01:52:03 +0000 2020  1318006971031715840
1   Mon Oct 19 01:44:53 +0000 2020  1318005166013059072
2   Mon Oct 19 01:44:29 +0000 2020  1318005066226372608
3   Mon Oct 19 01:43:49 +0000 2020  1318004898752057345
4   Mon Oct 19 01:43:17 +0000 2020  1318004763838087168
5   Mon Oct 19 01:43:11 +0000 2020  1318004739234177025
6   Mon Oct 19 01:39:31 +0000 2020  1318003814893486080
7   Mon Oct 19 01:39:19 +0000 2020  1318003765472075776
8   Mon Oct 19 01:38:21 +0000 2020  1318003523024543749
9   Mon Oct 19 01:36:37 +0000 2020  1318003083587342337
10  Mon Oct 19 01:36:32 +0000 2020  1318003062527713280
11  Mon Oct 19 01:34:20 +0000 2020  1318002508669833218
12  Mon Oct 19 01:34:09 +0000 2020  1318002463950110720
13  Mon Oct 19 01:33:32 +0000 2020  1318002310413508608
14  Mon Oct 19 01:32:40 +0000 2020  1318002090464190464