In [1]:
import pandas as pd

In [2]:
pd.set_option('display.max_columns', None)

In [3]:
data=pd.read_excel('Crowdfunding_data_1000_projects.xlsx')

In [5]:
data['funding_status']

0         completed
1      NotCompleted
2         completed
3      NotCompleted
4      NotCompleted
           ...
995       completed
996       completed
997       completed
998    NotCompleted
999    NotCompleted
Name: funding_status, Length: 1000, dtype: object

In [9]:
data[['students_reached']]

     students_reached
0                  12
1                  63
2                  88
3                  30
4                  92
..                ...
995                20
996               100
997                75
998                15
999               100

[1000 rows x 1 columns]

In [10]:
data.students_reached

0       12
1       63
2       88
3       30
4       92
      ...
995     20
996    100
997     75
998     15
999    100
Name: students_reached, Length: 1000, dtype: int64

In [13]:
ls

 Volume in drive C is Windows
 Volume Serial Number is 7A74-7975

 Directory of C:\Users\cobbl\Desktop\DSS_UMSL\Jup

03/09/2025  11:21 AM    <DIR>          .
03/02/2025  05:59 PM    <DIR>          ..
03/09/2025  11:09 AM    <DIR>          .ipynb_checkpoints
02/03/2025  09:42 PM           256,928 Crowdfunding_data_1000_projects.csv
02/03/2025  09:33 PM           194,327 Crowdfunding_data_1000_projects.xlsx
02/20/2025  08:34 PM           668,414 Decision Tree using Crowdfunding data.ipynb
02/22/2025  04:05 PM            56,558 Decision_Tree_using_dummy_data.ipynb
02/20/2025  08:04 PM             9,330 dummy_data.xlsx
03/02/2025  05:52 PM             9,819 dummy_data_for_kmeans_discussion.xlsx
02/22/2025  04:03 PM             9,342 dummy_data_v2.xlsx
03/02/2025  05:53 PM            35,217 Kmeans_prediction_using_dummy_data.ipynb
03/02/2025  05:15 PM           110,915 Kmeans_using_crowdfunding_data.ipynb
03/02/2025  05:56 PM            65,303 KMeans_using_dummy_data.ipynb
02/03/2025  10:32 PM            53,190 M3-1.ipynb
02/10/2025  07:03 PM           176,931 M4_1.ipynb
02/20/2025  09:28 PM         1,746,664 M5.1.ipynb
02/22/2025  04:05 PM            55,827 M5.2.ipynb
02/20/2025  08:12 PM           194,327 M5_Crowdfunding_data_1000_projects.xlsx
03/02/2025  05:59 PM           231,257 M6_1.ipynb
03/02/2025  05:59 PM            44,970 M6_2.ipynb
03/09/2025  11:21 AM             5,435 Midterm.ipynb
02/03/2025  09:44 PM           261,561 modified_data.csv
02/03/2025  09:46 PM           257,670 modified_file.csv
02/03/2025  09:50 PM             5,480 multiple_filters.xlsx
02/03/2025  09:47 PM            44,181 Pandas_part_1.ipynb
02/03/2025  10:28 PM           112,727 Pandas_part_2.ipynb
02/03/2025  09:55 PM            37,336 Pandas_part_3.ipynb
02/10/2025  07:03 PM           176,015 Train_test_split.ipynb
              25 File(s)      4,819,724 bytes
               3 Dir(s)  314,181,074,944 bytes free